@model Lab_11._3_Coffee_Shop_Registration_Continued.Models.WebUser
@{
    ViewBag.Title = "AddUser";

    string firstNamePass = @Model.firstName;
    string lastNamePass = @Model.lastName;
    string statePass = @Model.state;
}

<h2>Registration Complete!</h2><br /><br /><br />

<p>Thank you for registering with Saul's Coffee bar @Model.firstName!<br /><br />
We will keep your information secure while we continue to work on building the Coffee Bar!<br /><br />
As we continue to build the new coffee bar in @Model.state, any updated information will be sent to you at @Model.emailAddress.<br /><br />
When we do open, you will get a welcome package with a @Model.handedness coffee mug! As well as enough coffee to keep up with your @Model.cupsPerDay cup per day coffee habit!<br />
We will also have plenty of supplies, so you can have your coffee just how you like it, Coffee @Model.coffeeStyle!<br />
</p>
<p>
    In case you ever need assistance, your account can be accessed with the following information.<br /><br />
    Last Name: @Model.lastName<br />
    Phone Number: @Model.telNumber<br />
    Password: @Model.password<br /><br />
    <b>Please keep this information safe!</b><br /><br />
    Now accepting @Html.ActionLink("Orders!", "OrderPage", "Home")
</p>






